$primary-card-text: #0F1035;
$secondary-card-text: #365486;
$third-card-text: #11235A;

@mixin width-fit {
    width: fit-content;
}

main {
    padding-top: 55px;
}

a {
    text-decoration: none;
}

.bg-primary{ background-color: #0F1035 !important;}

.btn-add {
    background-color: $primary-card-text;
    border-color: #FFF;
    border-radius: 50%;
    position: fixed;
    bottom: 80px;
    right: 20px;
    z-index: 99;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    &:hover {
        background-color: $third-card-text;
        border-color: $third-card-text;
    }
}

.card {
    min-height: 100%;
}

.card__header {
    @include width-fit;

    a {
        &:hover {
            opacity: 80%;
        }
    }
}

.card__header-title {
    @include width-fit;
    color: $primary-card-text;
}

.card__body-description {
    @include width-fit;
    color: $secondary-card-text;
}

.card__body-date {
    @include width-fit;
    color: $third-card-text;
}

.card__body-date {
    @include width-fit;
}

.profile__card {
    @include width-fit;

    img {
        width: 240px;
    }

    p {
        margin: 16px 0px;
        font-weight: 700;
        font-size: 24px;
        text-align: center;
    }
}