.nav-sticky {
    position: fixed;
    width: 100%;
    z-index: 999;
}

.nav-dark {
    color: #DCF2F1 !important;
}

.btn-logout {
    background-color: transparent;
    cursor: pointer;

    a {
        &:hover {
            background-color: transparent;
            // color: #DCF2F1;
        }
    }
}